services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=$REACT_APP_API_URL
        - REACT_APP_BASE_URL=$REACT_APP_BASE_URL
    ports:
      - "3000:3000"
